@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css");



@keyframes moving {
    0% {
        margin-top:-30px;
    }
    50% {
        margin-top:30px;
    }
    100% {
        margin-top:-30px;
    }
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.end {
    background: white !important;
}
* {
    font-family: 'Pretendard';
    cursor: default;
    user-select: none;
}
#loading-char {
    position: absolute;
    width: 40%;
    max-width: 400px;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    animation: moving 7s infinite;
    transition: 0.5s;
}


#main-menu {
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 3000;
}

@media screen and (max-width: 600px){
    #ready-grid {
        grid-template-columns: 100% !important;
    }
    #title_screen_title {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 700px){
    #songname {
        font-size: 20px !important;
    }
    #grid-start {
        left: 0;
        background: black !important;
        border-radius: 0 !important;
        color: white;
        margin: 0px 0px 0px 0px !important;
    }
    #grid-notice {
        margin-bottom: 70px !important;
    }
}

#ready-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 80px 20px 10px 20px;
}

#tempo-speed, #accuracy {
    width: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
}

#songname {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    display: block;
}

#grid-notice {
    word-break: keep-all;
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;

}

#interlude-logo {
    font-size: 20px;
}

#grid-tempo-speed {
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
}
#grid-tempo-accuracy {
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
}

#grid-song-info {
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
}

#grid-start, #grid-start > div {
    cursor: pointer;
}

#grid-start {
    align-self: center;
    background: black;
    color: white;
    padding: 20px;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 30px;
    display:block;
    border-radius: 30px;
}
#grid-start > div {
    text-align: center;
}

#down-speed, #up-speed, #up-accuracy, #down-accuracy {
    border-radius: 5px;
    font-size: 30px;
    background: #fefefe;
    padding: 5px;
    cursor: pointer;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

#status {
    opacity : 0;
    transition: 0.5s;
}

body {
    margin: 0;
}

#player {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 10;
}

#mel_status {
    font-family: 'SUITE-Regular';
    position: fixed;
    padding: 40px;
    display: block;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0.7;
    border-radius: 20px;
    z-index: 999;
    top: 100px;
    right: 100px;
    transform: translateX(-50%);
    background: white;
}

#status {
    font-family: 'SUITE-Regular';
    position: fixed;
    padding: 20px;
    display: block;
    font-weight: bolder;
    opacity: 0;
    border-radius: 20px;
    text-align: center;
    z-index: 999;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
}

.clear_animation {
    background: #aaffaa !important;
}

.fail_animation {
    background: #ffaaaa !important;
}

#barrier {
    background: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    transition: 0.5s;
    top: 0;
    left: 0;
    display: none;
}

#title_screen {
    background: black;
    opacity: 0.5;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    transition: 0.5s;
    top: 0;
    display: none;
    left: 0;
}

#title_screen_title {
    left: 50%;
    color: white;
    font-weight: 900;
    font-size: 50px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform: 1s;
}

#navbar {
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 30000;
    background: black;
    color: white;
    display: block;
}

#navbar>#logo {
    font-size: 20px;
}

#music_select {
    display: none;
}