@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css");



@keyframes moving {
    0% {
        margin-top:-30px;
    }
    50% {
        margin-top:30px;
    }
    100% {
        margin-top:-30px;
    }
}

.end {
    background: white !important;
}

* {
    font-family: 'pretendard';
    cursor: default;
    user-select: none;
}

#loading-char {
    position: absolute;
    width: 40%;
    max-width: 400px;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    animation: moving 7s infinite;
    transition: 0.5s;
}


#main-menu {
    max-width: 800px;
    margin: auto;
}



@media screen and (max-width: 600px){
    #ready-grid {
        grid-template-columns: 100% !important;
    }
    #title_screen_title {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 700px){
    #songname {
        font-size: 20px !important;
    }
    #grid-start {
        left: 0;
        background: black !important;
        border-radius: 0 !important;
        color: white;
        margin: 0px 0px 0px 0px !important;
    }
    #grid-notice {
        margin-bottom: 70px !important;
    }
}

#ready-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 20px 10px 20px;
}
#volume-wrapper {
    background: white;
    padding: 10px;
    
    position:fixed;
    left: 30px;
    color: black;
    font-weight: bolder;
    top: 50%;
    z-index: 300;
    transform: translateY(-50%);
    display: none;
    opacity: 0.5;
}

#volume-wrapper > div {
    text-align: center;
    padding: 10px;
}

#tempo-speed, #accuracy {
    width: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
}

#songname {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    display: block;
}

#grid-notice {
    word-break: keep-all;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    
    margin: 0px 20px 0px 20px;
}

#grid-permission {
    background: rgba(255,255,255,0.2);
    padding: 20px;
    
    margin: 0px 20px 10px 20px;
}

#interlude-logo {
    font-size: 20px;
}

#grid-tempo-speed {
    background: rgba(255,255,255,0.2);
    padding: 20px;
    
}
#grid-tempo-accuracy {
    background: rgba(255,255,255,0.2);
    padding: 20px;
    
}

#grid-song-info {
    background: rgba(255,255,255,0.2);
    padding: 20px;
    
}

#grid-start, #grid-start > div {
    cursor: pointer;
}

#grid-start {
    align-self: center;
    background: black;
    color: white;
    padding: 20px;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 30px;
    display:block;
    border-radius: 30px;
}
#grid-start > div {
    text-align: center;
}

#down-speed, #up-speed, #up-accuracy, #down-accuracy {
    border-radius: 5px;
    font-size: 30px;
    background: rgba(255,255,255,0.4);
    padding: 5px;
    cursor: pointer;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

#status {
    opacity : 0;
    transition: 0.5s;
}

body {
    margin: 0;
    background: white;
}

#player {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 10;
}

#mel_status {
    font-family: 'SUITE-Regular';
    position: fixed;
    padding: 40px;
    display: block;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0.7;
    border-radius: 20px;
    z-index: 999;
    top: 100px;
    right: 100px;
    transform: translateX(-50%);
    background: white;
}

#status {
    font-family: 'SUITE-Regular';
    position: fixed;
    padding: 20px;
    display: block;
    font-weight: bolder;
    opacity: 0;
    border-radius: 20px;
    text-align: center;
    z-index: 999;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
}

.clear_animation {
    background: #aaffaa !important;
}

.fail_animation {
    background: #ffaaaa !important;
}

#barrier {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    transition: 0.5s;
    left: 0;
    display: none;
}

#title_screen {
    background: black;
    opacity: 0.5;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    transition: 0.5s;
    top: 0;
    display: none;
    left: 0;
}

#title_screen_title {
    left: 50%;
    color: white;
    font-weight: 900;
    font-size: 50px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform: 1s;
}
@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

#navbar {
    font-family: 'intelone-mono-font-family-regular';
    padding: 20px;
    font-size: 20px;
    z-index: 30000;
    color: black;
    display: block;
    max-width: 800px;
    margin: auto;
}

#navbar>#logo {
    font-size: 20px;
}

#music_select {
    display: none;
}

#status-bar {
    height: 10px;
    background: white;
    opacity: 0.3;
}
.status-bar-interlude {
    height: 10px;
    background: rgba(100,100,100,0.8);
    margin-top: -10px;
}
#point-bar-clearzone {
    background: white;

}
#point-bar {
    max-width: 500px;
    width: 100%;
    height: 10px;
    margin: auto;
}

#point-bar-value {
    background: white;
    height: 10px;
    max-width: 100%;
    width: 0%;
    min-width: 10px;
}

#point-bar-wrapper {
    position: fixed;
    width: 100vw;
    opacity: 0.5;
    height: 10px;
    bottom: 100px;
    margin: auto;
}
#point-bar-clearzone {
    width: 5px;
    height: 10px;
    background: white;
    margin-left: 70%;
    margin-top: -10px;
}

#point-bar-value-frame {
    border: 2px solid white;
    height: 16px;
    margin-top: -15px;
}

#point-bar-value-decimal {
    color: white;
    text-align: right;
    padding-bottom: 10px;
    font-size: 20px;
}
#song-add-btn {
    background: white;
}
#song-add-btn, #song-add-btn > * {
    cursor:pointer;
}
#list-musics > div {
    margin-top: 10px;
    background: #f0f0f0;
    color: black;
    width: available;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
#list-musics > div > * {
    font-weight: normal !important;
    margin: 0 !important;
}

.song-list {
    padding: 10px;
}

#ready-menu {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
    width: calc(100% - 20px);
    top: 70px;
}